<li>
						<div class="comment-main-level">
							<!-- Avatar -->
						
							<!-- Contenedor del Comentario -->
							<div class="comment-box">
								<div class="comment-head">
									<h6 class="comment-name"><%= comment.name if comment.name.present? %> <%= comment.email if comment.email.present? %></h6>
									<span><%= time_ago_in_words(comment.created_at) %> Ago</span>
				<div class="floatright">
					<% if user_signed_in? %>
						<%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
					<% end%>
				</div>
									<i class="fa fa-reply"></i>
									<i class="fa fa-heart"></i>
								</div>
								<div class="comment-content">
									<%= raw comment.content %>
								</div>
							</div>
						</div>
</li>